body{
    font-family: "Roboto" , sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/* common */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

img {
    max-width: 100%;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 40px
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
/* hero section */
.hero {
  background-color: #2e2f42;
  text-align: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 48px;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary-btn {
    margin: 0;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: #404bbf;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

/* section 2 */ 

.features-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.features-list-item {
    width: calc((100% - 72px) / 4);
}

.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* --- Section Team --- */
.section-team {
    background-color: #f4f4fd;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.team-list-item img {
    display: block
    width: 100%
}

.team-list-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    text-align: center;
    border-radius: 0 0 4px 4px;
    padding-bottom: 32px;

    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}

.team-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 32px;
    margin-bottom: 8px;
}

.team-list-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    margin: 0;
}

/* --- Section Portfolio --- */

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
    list-style: none;
}

/
.portfolio-item {
width: calc((100% - 48px) / 3);
    background-color: #ffffff;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item img {
    display: block;
    width: 100%;
}

.portfolio-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

/* --- Footer  -- */
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-part-text {
    color:#f4f4fd
}

.footer-text {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin: 0;
}